$line-width: 230px;
$line-height: 45px;
$scale-factor: (100vw / 768px);

.line{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;

    @media (min-width: 768px) {
        transform: scale(1.7);
    }
}

.lineContainer {
    min-width: $line-width;
    min-height: $line-height;
    width: 80%;
    height: $line-height;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    background: url("../../../public/Images/BackgroundImage.jfif") right;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    box-shadow: -1px 2px 7px 3px rgba(0, 0, 0, 0.7);
    border-radius: 10px;   
    padding-left: 10%;
}

.colorsContainer {
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.color {
    height: 65%;
    aspect-ratio: 1;
    box-shadow: -1px 2px 7px 2px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}

.hints {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.2rem;
}

.hint {
    height: 30%;
    aspect-ratio: 1;
    box-shadow: -1px 2px 7px 1px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

.confirm {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    filter: drop-shadow(1px 5px 2px rgb(0 0 0 / 0.6));
}
