@import "../sassStyles/variables";

h1 {
    display: block;
    font-size: $font-700;
    font-weight: 700;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    line-height: $font-700;

    @media (min-width: 768px) {
        font-size: $font-900;
        line-height: $font-800;
    }
}
